*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-color: blue;
    background-image: url('../img 2/pattern.png');
    background-size: 500px;
    height: 100px;
}

#logo{
    height: 60px;
    margin-top: 40px;
}

main{
    margin-top: 20 px;
}

h1{
    font-size: 50px;
}

#subtitle{
    color: grey;
    font-size: 15px;
}

#author{
    color: aqua;
}

#date{
    font-size: 10px;
}

.Tim-image{
    margin: 20px 0px;
}

.caption{
    font-size: 10px;
}

.paragraph{
    font-size: 20px;
}

p{
    margin-left: 5px;
}

.highlight{
    background-color: yellow;
}

ul{
    margin-top: 30px;
    margin-left: 20px;
}