*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-color: blue;
    background-image: url('../img 2/pattern.png');
    background-size: 500px;
    height: 100px;
}

#logo{
    height: 60px;
    margin-top: 40px;
}