*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-color: blue;
    background-image: url('../img 2/pattern.png');
    background-size: 500px;
    height: 100px;
}

#logo{
    height: 60px;
    margin-top: 40px;
}

main{
    margin-top: 20 px;
}

h1{
    font-size: 50px;
}

#subtitle{
    color: grey;
    font-size: 15px;
}

#author{
    color: aqua;
}

#date{
    font-size: 10px;
}

.Tim-image{
    margin: 20px 0px;
}

.caption{
    font-size: 10px;
}

.paragraph{
    font-size: 20px;
}

p{
    margin-left: 5px;
}

.highlight{
    background-color: yellow;
}

ul{
    margin-top: 30px;
    margin-left: 20px;
}

table{
    margin-top: 30px;
    margin-left: 5px;
    border-collapse: collapse;
}

thead{
    background-color: rgb(0, 98, 255);
}

th{
    color: white;
    width: 30%;
    font-size: 16px;
}

td{
    font-size: 14px;
}

.colored-row{
    background-color: rgb(125, 238, 250);
}

#second-paragraph{
    margin-top: 15px;
    font-size: 18px;
}

footer{
    margin-top: 40px;
    margin-left: 5px;
}

h4{
    color: grey;
}

.footer-image{
    margin-top: 20px;
}

#monitor{
    width: 250px;
    height: 250px;
    background-image: url('../img 2/monitor.jpg');
    color: white;
    margin-bottom: 15px;

}

#graph{
    width: 250px;
    height: 250px;
    background-image: url('../img 2/graph.jpg');
    color: white;

}